/* Portfolio Section */
.portfolio {
    padding: 50px 0;
  }
  
  .portfolio h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .portfolio-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    transform: translateY(0);
  }
  
  /* Hover Effect: Shadow and Lift */
  .portfolio-item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
  
  /* View Project Button */
  .view-project-btn {
    background-color:black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .view-project-btn:hover {
    background-color: grey;
  }
  
  /* Popup Styles */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    overflow-y: auto;
    position: relative;
    
  }
  
  .popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Close Popup Button */
  .close-popup button {
    background-color:black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .close-popup button:hover {
    background-color: grey;
  }
  
  .popup img {
    max-width: 100%;
    height: auto;
  }
  